/* CSS defining the dots styles used in the ManualInhibitionOnline experiment */

.dot {
    position:absolute;
    display: inline;
    top: 50%;
    height: 50px;
    width: 50px;
    background-color: #000000;
    border-radius: 50%;
    margin-top: -25px;
    margin-left: -25px;
    -webkit-touch-callout: none; /* prevent marking on iOS Safari */
    -webkit-user-select: none; /* prevent marking on Safari */
    user-select: none;
    --original-size-dva: 2;
}

.InvisibleDot {
    position:absolute;
    display: inline;
    top: 50%;
    height: 300px;
    width: 300px;
    background-color: #000000;
    border-radius: 50%;
    margin-top: -150px;
    margin-left: -150px;
    -webkit-touch-callout: none; /* prevent marking on iOS Safari */
    -webkit-user-select: none; /* prevent marking on Safari */
    user-select: none;
    --original-size-dva: 12;
}

.rectangleUp{
    position:absolute; 
    left:0; 
    top:0; 
    width:100%; 
    height:calc(50% - 100px); 
    background-color:rgba(170, 28, 28, 0.884);
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    user-select: none;
}

.rectangleDown{
    position:absolute; 
    left:0; 
    bottom:0; 
    width:100%; 
    height:calc(50% - 100px); 
    background-color:rgba(231, 42, 42, 1);
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    user-select: none;

}

.rectDot {
    position:absolute;
    display: inline;
    top: 50%;
    height: 200px;
    width: 200px;
    background-color: #000000;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: -25px;
    -webkit-touch-callout: none; /* prevent marking on iOS Safari */
    -webkit-user-select: none; /* prevent marking on Safari */
    user-select: none;

}